.button {
    -fx-background-color: grey;
    -fx-background-radius:0;
    -fx-border-color:black;
    -fx-border-width: 3 3 3 3;
}
.text-field {
    -fx-background-radius:0;
    -fx-border-color:black;
    -fx-border-width: 3 3 3 3;
}
.label {
    -fx-font-weight: bold;
    -fx-font-size: large;
}